@import '../../src/styles/variables';

.title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.72px;
    margin-bottom: 24px;
    padding-left: 131px;
    margin-top: 45px;

    @media (max-width:$screen-lg) and (min-width:$screen-sm) {
        font-size: 26px;
        letter-spacing: 0.52px;
        padding-left: 16px;
    }

    @media (max-width:$screen-sm) {
        font-size: 20px;
        letter-spacing: 0.4px;
        padding-left: 0;
    }
}

.block1,
.block2 {
    background-color: #fff;
    border: 1px solid $grayColor;
    position: relative;
    padding: 30px 100px;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.52px;
    margin: 0 30px 130px;

    @media (max-width:$screen-lg) and (min-width:$screen-md) {
        padding: 30px 50px;
        margin: 0 0 130px;
    }

    @media (max-width:$screen-md) and (min-width:$screen-sm) {
        padding: 30px 30px;
        margin: 0 0 130px;
    }

    @media (max-width:$screen-sm) {
        padding: 14px 16px;
        margin: 0 0 130px;
    }
}

.block1 {
    p {
        margin-bottom: 2em;
        line-height: 32px;
        letter-spacing: 0.48px;

        &:last-of-type {
            margin-bottom: 1em;
        }

        @media (min-width:$screen-lg) {

            &:nth-child(6),
            &:nth-child(7) {
                padding-right: 300px;
            }
        }

        @media (max-width:$screen-lg) and (min-width:$screen-md) {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0.48px;

            &:first-of-type {
                font-size: 26px;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: 0.52px;
            }

            &:nth-child(3) {
                padding-right: 180px;
            }
        }

        @media (max-width:$screen-md) and (min-width:$screen-sm) {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0.48px;

            &:first-of-type {
                font-size: 26px;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: 0.52px;
            }

            &:nth-child(3) {
                padding-right: 170px;
            }
        }

        @media (max-width:$screen-sm) {
            font-size: 8px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0.16px;

            &:first-of-type {
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 15px;
                letter-spacing: 0.24px;
            }

            &:nth-child(3),
            &:nth-child(4) {
                padding-right: 110px;
            }
        }
    }

    h2 {
        font-size: 28px;
        padding-bottom: 1em;

        @media (max-width:$screen-sm) {
            font-size: 8px;
            font-style: normal;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0.16px;
        }
    }

    @media (max-width:$screen-sm) {
        border-bottom: none;
        margin-bottom: 0;
    }
}

.block2 {
    margin-bottom: 0;

    p {
        margin-bottom: 2em;
        line-height: 32px;
        letter-spacing: 0.48px;
        text-align: end;

        &:last-of-type {
            margin-bottom: 1em;
        }

        @media (min-width:$screen-xl) {

            &:nth-child(5),
            &:nth-child(6) {
                padding-left: 300px;
            }
        }

        @media (max-width:$screen-xl) and (min-width:$screen-lg) {

            &:nth-child(6) {
                padding-left: 300px;
            }
        }

        @media (max-width:$screen-lg) and (min-width:$screen-md) {

            &:nth-child(6) {
                padding-left: 300px;
            }
        }

        @media (max-width:$screen-md) and (min-width:$screen-sm) {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0.48px;

            &:nth-child(5) {
                padding-left: 180px;
            }
        }

        @media (max-width:$screen-sm) {
            font-size: 8px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0.16px;

            &:nth-child(4),
            &:nth-child(5) {
                padding-left: 130px;
            }
        }
    }

    h2 {
        font-size: 28px;
        padding-bottom: 1em;
        text-align: end;

        @media (max-width:$screen-sm) {
            font-size: 8px;
            font-style: normal;
            font-weight: 500;
            line-height: 15px;
            letter-spacing: 0.16px;
        }
    }

    @media (max-width:$screen-sm) {
        border-top: none;
    }
}

.girl {
    position: absolute;
    bottom: 50px;
    right: 86px;

    @media (max-width:$screen-lg) and (min-width:$screen-md) {
        top: 200px;
        width: 188px;
        height: 301px;
        right: 50px;
    }

    @media (max-width:$screen-md) and (min-width:$screen-sm) {
        top: 250px;
        width: 188px;
        height: 301px;
        right: 20px;
    }

    @media (max-width:$screen-sm) {
        top: 50px;
        right: 15px;
        width: 90px;
        height: 139px;
    }
}

.man {
    position: absolute;
    bottom: 50px;
    left: 86px;

    @media (max-width:$screen-lg) and (min-width:$screen-md) {
        top: auto;
        bottom: 100px;
        width: 188px;
        height: 301px;
    }

    @media (max-width:$screen-md) and (min-width:$screen-sm) {
        top: 1100px;
        width: 188px;
        height: 301px;
        left: 20px;
    }

    @media (max-width:$screen-sm) and (min-width:430px) {
        top: 160px;
        left: 15px;
        width: 90px;
        height: 139px;
    }

    @media (max-width:430px) {
        top: 230px;
        left: 15px;
        width: 90px;
        height: 139px;
    }
}