@import '../../styles/variables';

.main {
    padding: 65px 110px 40px;
    margin-top: 40px;
    border: 2px solid $grayColor;
    border-radius: 15px;

    @media (max-width:$screen-xxl) and (min-width:$screen-lg) {
        padding: 40px 65px;
    }

    @media (max-width:$screen-lg) and (min-width:$screen-md) {
        padding: 40px 50px;
        margin-top: 15px;
    }

    @media (max-width:$screen-md) {
        padding: 30px 50px;
        margin-top: 15px;
    }

    form {
        @include flex(space-between);
        align-items: flex-start;
        flex-wrap: wrap;

        @media (max-width:$screen-xxl) {
            display: block;
        }
    }
}

.flex {
    @include flex(space-between);

    div {
        width: 45%;
    }
}

.photo {
    @include flex(center);
    width: 100%;
    margin-bottom: 50px;
    cursor: pointer;

    &:hover {
        .btn1 {
            background-color: $accentColorDark;
        }
    }

    div {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-left: 20px;
    }

    .btn1 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        @include button;
        padding: 5px 30px;
        margin-left: 20px;
    }

    input {
        display: none;
    }
}

.left,
.rigth {
    width: 40%;

    @media (max-width:$screen-xxl) {
        width: 100%;
    }
}

.btn {
    width: 100%;
    @include flex(center);
}

.inp {
    @include input;
}

.inp_con {
    position: relative;
}

.label {
    position: relative;
    left: 15px;
}

.x {
    border: none;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
    cursor: pointer;
}