@import '../../styles/variables';

.main {
    margin-top: 40px;
}

.product_info {
    padding: 20px 100px;
    border: 2px solid $grayColor;
    border-radius: 15px;
    @include flex(space-between);

    @media (max-width:$screen-xxl) and (min-width:$screen-lg) {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
    }

    @media (max-width:$screen-lg) and (min-width:$screen-md) {
        padding: 10px 10px;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;

        div {
            width: 70px;
        }
    }

    @media (max-width:$screen-md) {
        padding: 10px 5px;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
    }
}

.from,
.to {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    @media (max-width:$screen-xxl) and (min-width:$screen-lg) {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
    }

    @media (max-width:$screen-lg) and (min-width:$screen-md) {
        padding: 10px 10px;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
    }

    @media (max-width:$screen-md) {
        padding: 10px 5px;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
    }
}

.progress_bar {
    margin-top: 100px;
    position: relative;

    @media (max-width:$screen-md) {
        padding-bottom: 70px;
    }
}

.line {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border: 2px solid #2B2153;
}

.points {
    position: absolute;
    top: 2px;
    left: 0;
    width: 102%;
    @include flex(space-between);
}

.point:nth-child(even) {
    .text {
        top: -25px;
        left: 10px;
    }
}

.point:nth-child(odd) {
    .text {
        top: 25px;
        left: 10px;
        width: 200px;
        text-align: center;
    }
}

.point {
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border-radius: 1000px;
    background-color: #2B2153;

    @media (max-width:$screen-lg) and (min-width:$screen-md) {
        height: 15px;
        width: 15px;
    }

    @media (max-width:$screen-md) {
        height: 15px;
        width: 15px;
    }
}

.current {
    background-color: #25B401;
}

.text {
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.32px;
    transform: translateX(-50%);

    @media (max-width:$screen-xl) and (min-width:$screen-lg) {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.24px;
    }

    @media (max-width:$screen-lg) and (min-width:$screen-md) {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.24px;
        max-width: 100px;
    }

    @media (max-width:$screen-md) {
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.16px;
        max-width: 100px;
    }
}

.btn {
    padding-top: 90px;
    @include flex(center);

    @media (max-width:$screen-md) {
        display: none;
    }

    button {
        padding: 5px 50px;
        outline: none;
        border: none;
        border-radius: 1000px;
        background-color: $accentColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }
}